@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    text-align: center;
    touch-action: none;
 }

 /* div {
    position: absolute;
    border-radius:50%;
    left: 0;
    top: 0;
  } */

 .page-link {
    cursor: pointer;
  }

  .disable-hover {
    pointer-events: none;
  }

  .overflow-wrap {
    overflow-x: hidden;
  }

  .canvas {
    background: url("img/filler.png") center center/cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: -1;
  }

  .button {
    border: 2px solid #fff;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 10px 40px;
    transition: all 0.5s;
    font : normal 400 2vmin/1 'Josefin Sans', sans-serif;
    color:white;
  }
  
  .button:hover {
    background-color: #04c2c9;
    border-color: #04c2c9;

  }

  .button .arrow-side{
    transition: all 0.3s;
    transform: rotate(-45deg);

  }

  .button:hover .arrow-side{
    transition: all 0.3s;
    transform: rotate(45deg);
  }

  .arrow-side{
    display: inline-block;
    width: 1vmin;
    height: 1vmin;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(-45deg);
  }

  .text{
    margin: 0 0 20px 0;
    z-index: 1;
    font : normal 300 8vmin/1 'Josefin Sans', sans-serif;
    color:  #fff;
  }

  .head{
    top: 50%; 
    left: 50%; 
    display: block;
    position: absolute;
    width: 750px;
    height: 417px;
    margin-top: -208.5px;
    margin-left: -375px; 
  }

  @media (max-width: 480px) {
  .flex {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
  .flex.row {
    flex-direction: row;
  }
  .flex.wrap {
    flex-wrap: wrap;
  }

  .highlight {
    color: #e31b6d;
  }

  nav {
    top: 0;
    left: 0;
    position: fixed;
    background: #1b242f;
    border-bottom: 3px solid #04c2c9;
    height: 50px;
    text-align: left;
    width: 100%;
    z-index: 3;
    font : normal 400 5vmin/1 'Josefin Sans', sans-serif;
    color:white;
  }

  nav .link-wrap div {
    cursor: pointer;
    font-size: 12pt;
    padding: 12px 20px;
    text-transform: uppercase;
    transition: color 0.5s;
  }
  nav .link-wrap div:first-child {
    padding: 25px 20px 12px 20px;
  }
  nav .link-wrap div:hover {
    color: #e31b6d;
  }

  nav .active {
    color: #e31b6d;
  }
  
  nav .link-wrap {
    background: none;
    height: initial;
    overflow: visible;
    position: initial;
    text-align: left;
    margin-left: 15%;
  }
  nav .link-wrap .visible {
    height: initial;
  }
  nav .link-wrap div {
    display: inline;
    font-size: initial;
    margin: 0px 20px;
    padding: initial;
  }
  nav .link-wrap div:first-child {
    padding: 0;
  }